# Node modules
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# Python virtual environment
ml_service/venv/

# ML model files
ml_service/*.pkl

# Logs
*.log

# System files
.DS_Store
Thumbs.db

